body{
	background-image:url("img/background/literature.jpg");
	height:100%;
	background-attachment: fixed;
}

div.nav-wrapper{
	font-family: 'Dosis', sans-serif;
}

div#texto{
	color:black;
	background-color:rgba(255,255,255,0.9);
	margin-top:45vh;
	padding-top:5vh;
	padding-bottom:5vh;
}

nav ul a{
	font-size:30px !important;
}

p {
	text-align: justify;
	font-family: "TimesNewRoman";
	font-size: 16px;
}

p.links{
	text-align:inherit;
}


footer{
	margin-top:45vh;
	padding-top:0px !important;
	background-color: rgba(255,255,255,0.9) !important;
}

img.redes{
	height:6vh;
}

img.map{
	height:6vh;
}

