body{
	background-image:url("img/background/literature.jpg");
	height:100%;
	background-attachment: fixed;
}

div.nav-wrapper{
	font-family: 'Dosis', sans-serif;
	
}

div#texto{
	color:black;
	background-color:white;
	margin-top:45vh;
	padding-top:5vh;
	padding-bottom:5vh;
}

p {
	text-align: justify;
}

footer{
	margin-top:45vh;
	padding-top:0px !important;
}

img.redes{
	width:6vw;
	height:6vh;
}

img.map{
	width:6vw;
	height:6vh;
}

ul#rodape li{
	display:inline-block;
	margin-left:-20px;
	margin-right:-20px;
}